password.txt
pickle.apk
pickle
R.java
android/lucasta.keystore
android/ndk/
android/sdk/
android/build/dex/
android/build/lib/
android/build/obj/
android/build/res/
android/build/assets/
lib/
archives/
